head{


}

body{


}

p{

}

h2{
font-size: 28px;
text-transform: uppercase;
border-bottom: 5px;
color: #4F72ED;


}

.page{
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  width:750px;
  font-family: 'Andale Mono', Arial,cursive;
  overflow: auto;
  margin: auto;
  font-size: 18px;
  padding: 40px;
  border: 5px solid gray;
  border-radius: 10px;
  box-shadow: 2px 4px 3px gray;

}

.section{
margin-bottom: 80px;
}

.infophoto{
  height: 250px;

}

.info{
float: left;
}

.photo{
float: right;
}

.sec-right{
margin-left: 130px;
margin-top: 72px;

}

.sec-left{
float: left;
font-weight: bold;
font-size: 15px;
margin-top: 32px;

}

.dates{
font-weight: normal;
font-style: italic;
font-size: 16px;

}

.language{


}

.time{

}

.Studies{

}

#languages{
font-size: 20px;

}

#dates{
font-size: 18px;
margin-bottom: 40px;
}

#Studies{

}

#hobby{


}

#title{
font-weight: bold;
font-size: 20px;

}

#langlevel{


}

#prvwork{

}
