head{


}

body{


}

p{

}

h2{


}

.page{
  margin-left: auto;
  margin-right: auto;
  width:600px;
  overflow: auto;

}
.section{
 display: grid | inline-grid | subgrid;

}

.infophoto{

}

.info{

}

.photo{

}

.sec-right{
text-align: left;

}

.sec-left{

font-style: italic;
font-weight: bold;
font-size: 18px;
text-align: right;
padding: 0 25px 0 0;
width: 150px;
float: left;
height: 150px;
border-right: 1px
solid #999;
}

.dates{


}

.language{


}

.time{

}

.Studies{

}

#languages{


}

#dates{

}

#Studies{

}
