head{


}

body{


}

p{

}

h2{


}

.page{
  margin-left: auto;
  margin-right: auto;
  width:600px;
  overflow: auto;

}
.section{
  background-color: lightyellow;

}

.infophoto{

}

.info{

}

.photo{

}
